@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&display=swap');
body {
  font-family: "EB Garamond", serif;
  color: rgb(50, 50, 50);
}

.my-img-size {
  height: 20px;
}

.my-img-size-footer {
  height: 40px;
  border: 3px solid rgb(50, 50, 50);
  border-radius: 50%;
  padding: 5px;
  margin: 0 5px;
}

.my-img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.my-btn {
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 500;
  color: rgb(50, 50, 50);
}

.my-gallery img {
  height: 250px;
  object-fit: cover;
  @media screen and (min-width: 576px) {
    height: 500px;
  }
}


